Package: com.spicat.recordntorch
Name: Record 'n' Torch iOS 12+
Depends: mobilesubstrate, preferenceloader, firmware (>= 12.0), gsc.camera-flash, gsc.still-camera, ws.hbang.common (>= 1.2)
Conflicts: org.thebigboss.recordntorch
Version: 1.0.0
Architecture: iphoneos-arm
Description: Toggle Torch while recording video.
Author: SpicaT
Maintainer: SpicaT
Section: Tweaks
Icon: file:///Library/PreferenceLoaders/Preferences/TFV/TFV@2x.png
